 @charset "UTF-8";


 @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

 /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 /*デフォルトの設定があるとスタイリング時にわかりにくいので、こちらとりあえず削除します*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline; }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block; }
 
 
 /*各種見出しとかタグのデフォルト設定*/
 h1 {
     font-size: 48px;
     font-weight: 300;
     color: #FFF;
   }

   h2.sectionTitle {
    position: relative;
       font-weight: 600;
       font-size: 36px;
       color: #FFF;
       margin:20px 0 30px 0;
   
     }
     .sectionTitle:before {
      content: '';
      position: absolute;
      bottom: -10px;/*見出しの文字からどのくらい話すか　数値がでかいほど離れる*/
      display: inline-block;
      width: 60px;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #FFB30B;
      border-radius: 2px;
    
    }
    /*https://copypet.jp/120/　文字の下に短めのライン*/

   h1.page-title{
    margin-bottom:40px;
    float: left;
   }

   .page-description{
     display:inline-block;
     margin: 30px 0px 0 40px;
     color:#646464;
  
   }
   /*  p{
       font-size: 16px;
     }*/
     ol, ul {
         list-style: none; 
     }
     a { 
         text-decoration: none ;
         cursor: pointer;
     }
 
     a:link {
      color: #CCC;
    }
     a:visited {
      color:#CCC;
    }
     a:hover {
      color:#AAA;
      cursor: pointer;
    }
     a:active {
      color:#FFF;
    }


 
 body{
  background-color:#0e607c;/*#0e607c*/
  margin: 0px auto;

  
  font-family: 'Source Sans Pro',"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",sans-serif;

 
  }
 
  
  footer {
    border-top: 1px solid #FFB30B;
     position: relative;
    /* display: table;*/
     width: 100%;
     height: 120px;
     bottom: 0px;
     justify-content: center;
     text-align: center;
     line-height: 1.5em;
     letter-spacing: 0.8px;
     margin: 30px 0 0 0;
     padding: 40px 0 0 0;
    }
 
     footer p {
       font-size:8pt; 
       color:#FFB30B;
      }
     footer a {
       text-decoration: none; 
      }
       
 
  .float-clear{
     clear:both;
 }


 /*グロナビ　ヘッダーのスタイル*/


p{
  color:#FFF;
}
 header {
     text-align: center;
     border-bottom: 1px solid #FFB30B;
    width: 100%;
    margin:0 auto;
    z-index:10;
   /* background-color: rgba(255,255,255,0.7);*/
   }
   
   .nav-list{
     text-align: center;
     padding: 20px 0;
     margin: 0 auto;
     

   }
 
   .nav-list-item{
     list-style: none;
     display: inline-block;
     margin: 0 30px;
     font-size: 20px;
     padding: 8px;
   }
   .nav-list-item >a{

  }
   

   /*グロナビのうち現在いる親の階層　を黒くする*/
.nav-list-item >a.here{
  color:#FFF;
}
 



  /*headerのスクロールに応じて現れる*/
 
  .header {
    position: fixed;
    width: 100vw;
   

  }
  .header {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .header--unpinned {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }

  .header{
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  }


/*言語のスタイル*/
.language{
   text-align: right;
   color: #CCC;
   position:relative;
   margin:0 30px;
   display:inline-block
 }
#language-text{
  font-size:16px;
  margin-right:12px;
}

 .language>a.here{
  color:#FFF;
 }

 .language>a{
  margin: 0 4px;
  font-size: 20px;

 }

 .first-view{
  background: #fff url(../img/andonSample.png) center center / cover no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 30% 0 0 20%;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
  color:#FFF;
}
.first-view h1{
margin:30px 0 0 0;
font-size:40px;
line-height:1;
 color:#FFF;
}

.first-view h3{
font-size:24px;
line-height:1;
}

 main{
  max-width:1200px;
  padding: 0px 30px 10px 30px;
  margin:0 auto;
 }

   /*headr意外を取り囲む*/
 
 .contents {
    /* min-height: 500px;*/
    /* background-color: #FFF;*/
     animation: fadeIn 3s ease 0s 1 normal;
     -webkit-animation: fadeIn 3s ease 0s 1 normal;
     margin: 0 auto;
     max-width:800px;
   
 }
 
 
     .scroll-top {
         position: fixed;
         width: 100px;
         height: 50px;
         bottom: 40px;
         right: 40px;
         cursor: pointer;
         z-index: 100;
         text-align: center;
      }
         .scroll-top img {
           width: 30px;
           height: auto; 
         }
         .scroll-top p {
           font-size: 17px;
           color: #535353;
           font: bold 15pt "Helvetica Neue", Helvetica, Arial, sans-serif;
           letter-spacing: 0.5px;
           padding-top: 8px; 
         }
 

  /*topにもどる*/
  .js-scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}
.js-scroll-fadein.is-fadein {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------
  arrow
--------------------------------*/
.arrow {
  position: fixed;
  right: 16px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.arrow:hover {
  opacity: 0.8;
  bottom: 15px;
  -webkit-filter: drop-shadow(3px 3px 3px #828282);
}
.arrow:before, .arrow:after {
}



.follow-twitter{
text-align: right;
padding:30px 0 0 0;

}





.side-by-side_container {
  /*  max-width: 900px;*/
     margin: 0 auto;
     /*align-items:center;*/
     display:flex;
     align-items: flex-start;
     text-align:justify;
   }

 .side-by-side_container img {
       position: relative;
       width: 40%;
       height: auto;
       
   }

   .rightText-div{
     width:50%;
   }


   i{
     padding-right:8px;
   }



   /* .about_center{
     text-align:center;
   }*/


div.rightText{
 margin-right:20px;
}
div.leftText{
 margin-left:20px;
}



.youtube-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/*https://www.eyesofc.co.jp/webeyes/category/homepage/642/ youtube埋め込み　レスポンシブ*/




  /*style for HOME*/
  .top-title{
    max-width:900px;
    margin: 0 auto;
  }
 .sectionTitle{
     text-align: center;
 }
 
   
 .eachSection{/*各セクション間の余白*/
     margin:  120px 0; 
 
   }
     
 .top-title > h4{
   font-size:24px;
   font-weight: 500;
   color: #828282;
 }

      
 .top-title > h1{
  font-size:48px;
  font-weight: 500;
}

 .top-img{
     margin:0 auto;
     text-align: center;
 }
 .sectionDescription{
     text-align: center;/*1行ものには必要*/
     margin: 30px auto;
     width:600px;
 }


 
 /*news*/
 .flexBox_topNews {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width:900px;

}


 /*faculty*/
  /*教員画像のスライドショー*/
  .faculty-slide-container{
    max-width:700px;
   margin:0 auto;/*コンテナ自身の中央揃え*/
   display:flex;
   justify-content:space-between;
   
    }
   
    .faculty-slide{
   width:200px;
   
    }
    .fadeout{
     opacity: 0;
     transition: 3s ease-in-out;
     -webkit-transition: 3s ease-in-out;
     }
     .fadein{
     opacity: 1;
     transition: 3s ease-in-out;
     -webkit-transition: 3s ease-in-out;
     }
 

     /*gallery*/

  a.swipebox{
    display:inline-block;
    margin-bottom:20px;
  }
     img.gallery-img {
      width : 185px;
     height : 185px;
     object-fit: cover;/*アスペ比を変えずにトリミング*/

     }

     .flexBox-gallery{
      max-width:800px;
      margin: 0 auto;
      display:-webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding:0;
       flex-direction: row;
       flex-wrap: wrap;
      
     }




